<tr>
	<th>
		<label for="matrix_1_{{index}}">Group {{groupNumber}}</label>
	</th>
	<td class="text-center matrix_1_q_{{groupNumber}} matrix_1_a_1" title="Reference #">
		<input type="text" id="matrix_1_{{index}}_0" name="matrix_1_{{index}}_0" data-label="Group {{groupNumber}} > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group {{groupNumber}}" data-matrix-answer="Reference #" class="form-control">
	</td>
	<td class="text-center matrix_1_q_{{groupNumber}} matrix_1_a_2" title="Traveler Name">
		<input type="text" id="matrix_1_{{index}}_1" name="matrix_1_{{index}}_1" data-label="Group {{groupNumber}} > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group {{groupNumber}}" data-matrix-answer="Traveler Name" class="form-control">
	</td>
	<td class="text-center matrix_1_q_{{groupNumber}} matrix_1_a_3" title="# PAX">
		<input type="text" id="matrix_1_{{index}}_2" name="matrix_1_{{index}}_2" data-label="Group {{groupNumber}} > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group {{groupNumber}}" data-matrix-answer="# PAX" class="form-control">
	</td>
	<td class="text-center matrix_1_q_{{groupNumber}} matrix_1_a_4" title="Phone">
		<input type="text" id="matrix_1_{{index}}_3" name="matrix_1_{{index}}_3" data-label="Group {{groupNumber}} > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group {{groupNumber}}" data-matrix-answer="Phone" class="form-control">
	</td>
	<td>
		<button type="button" class="btn btn-secondary clear-row" data-row-index="{{index}}">Clear</button>
	</td>
</tr>
